<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"rel="stylesheet"/>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"
  />
  
  <title>CrèmeCraze</title>
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="../../static/img/logo1.png" alt="logo">
            <ul id="navbar">
                <a href="../html/base.html"><li>Home</li></a>                <a href="#"><li>Blog</li></a>
                <a href="#"><li>Contact</li></a>
                <a href="#"><li>About</li></a>
            </ul>
            <div class="user-auth">
                <a class="login-btn" href="#">Login</a>
                <a class="signup-btn" href="#">Sign up</a>
            </div>
            <img class="menu" src="../../static/img/menu.png" alt="navbar" onclick="openNav()">
        </nav>
    </header>

    <div class="cont">
        <section class="one-cont">
            <div class="one">
                <img class="logo-type" src="../../static/img/logotype.png" alt="logotype">
                <img class="hero-cookie" src="../../static/img/funnycookie.png" alt="cookie-img">
            </div>
            <i class="ri-arrow-down-wide-line" id="bottom-arr"></i>
        </section>
        <section class="two-cont">
            <img class="donut" id="donut" src="../../static/img/don.png" alt="">
            <img class="donut" id="donut1" src="../../static/img/don1.png" alt="">
            <img class="donut" id="donut2" src="../../static/img/don2.png" alt="">
            <div class="two">
                <p class="title-two">Discover the magic of CrèmeCraze!</p>
                <p class="txt-two"> Delight in our handcrafted pastries, made with the finest ingredients. Every bite is a celebration. Order now and taste the excellence!</p>
                <button class="order-btn">
                    <a href="../html/items.html">Order Now</a>
                    <img src="../../static/svg/cookie.svg" alt="cookie-icon">
                </button>
            </div>
        </section>
    </div>

<script>
    const menuBtn = document.querySelector('.menu')

    document.addEventListener('click', function(event){
        const navBar = document.querySelector('#navbar')
        navBar.style.width = '50vw'
        const insideMenubtn = menuBtn.contains(event.target)
        const insideNavbar = navBar.contains(event.target)
        if (!insideNavbar && !insideMenubtn){
            navBar.style.width = '0vw'
        }
    })

</script>

</body>
</html>