<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"rel="stylesheet"/>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"
/>

    <title>CrèmeCraze</title>
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="../../static/img/logo1.png" alt="logo">
            <ul>
                <a href="#"><li>Home</li></a>
                <a href="#"><li>Blog</li></a>
                <a href="#"><li>Contact</li></a>
                <a href="#"><li>About</li></a>
            </ul>
            <div class="user-auth">
                <a class="login-btn" href="#">Login</a>
                <a href="#">Sign up</a>
            </div>
        </nav>
    </header>
    <div class="cont">
        <section class="one-cont">
            <div class="one">
                <img class="logo-type" src="../../static/img/logotype.png" alt="logotype">
                <img class="hero-cookie" src="../../static/img/funnycookie.png" alt="cookie-img">
            </div>
        </section>
        <section class="two-cont">
            <div class="two">
                <p>Welcome to CrèmeCraze, your ultimate destination for exquisite pastries! Indulge in our meticulously crafted treats, from classic delights to innovative creations. With a focus on quality ingredients and culinary artistry, every bite promises pure bliss. Explore our online shop for a seamless ordering experience, and elevate any occasion with our delectable offerings. Join us at CrèmeCraze and discover a world of sweet sensations!</p>
                <button class="order-btn">
                    <a href="#">Order Now</a>
                    <img src="../../static/svg/cookie.svg" alt="cookie-icon">
                </button>
            </div>
        </section>
    </div>

</body>
</html>