<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/items.css">
    <title>CrèmeCraze</title>
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="../../static/img/logo1.png" alt="logo">
            <ul id="navbar">
                <a href="../html/base.html"><li>Home</li></a>                <a href="#"><li>Blog</li></a>
                <a href="#"><li>Contact</li></a>
                <a href="#"><li>About</li></a>
            </ul>
            <div class="user-auth">
                <a class="login-btn" href="#">Login</a>
                <a class="signup-btn" href="#">Sign up</a>
            </div>
            <img class="menu" src="../../static/img/menu.png" alt="navbar" onclick="openNav()">
        </nav>
    </header>
    <section class="cover-cont">
        <div class="cover">
            <h3>CrèmeCraze</h3>
            <img class="img-cover" src="../../static/img/cookies.jpg" alt="cover-image">
        </div>
    </section>
</body>
</html>