@font-face {
    font-family: 'Callingstone';
    src: url('/static/fonts/Louis\ George\ Cafe.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELEPHNT';
    src: url('/static/fonts/ELEPHNT.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('/static/fonts/Recoleta-RegularDEMO.otf');
    font-weight: normal;
    font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Callingstone', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ede5d2;
    overflow: hidden;
}

.logo{
    width: 50px;
    height: auto;
    object-fit: contain;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 100;

}

nav{
    height: inherit;
    max-width: 1530px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

ul{
    display: flex;
    
}

ul a {
    text-decoration: none;
    list-style-type: none;
    margin: 0 20px 0;
    color: #442e24;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Callingstone', sans-serif;
    transition: all .5s ease;
}


ul a:hover{
    color: #ffd000;
}


.user-auth a {
    display: inline-block;
    text-decoration: none;
    color: #442e24;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #442e24;
    box-shadow: 0px 3px 0px 0px rgba(68,46,36,1);
    padding: 8px 16px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.user-auth a:hover{
    box-shadow: 0 0 0 0;
    transform: translateY(4px);

}

.login-btn{
    background-color: #ffdb53;
}

.menu{
    display: none;
    width: 27px;
    filter: drop-shadow(0px 3px 0px #453024);
    transition: all .5s ease;
    cursor: pointer;
}
.menu:hover{
    filter: none;
    transform: translateY(3px);
}

.cont{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.one-cont{
    background-color: #ddd2b8;
    position: relative;
}
.one{
    width: 1400px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.logo-type{
    width: 100%;

}

.hero-cookie{
    margin: 80px 0 0 0;
    width: 150px;
}



#bottom-arr{
    position: absolute;
    bottom: 0;
    margin: 0 0 20px;
    
}

.two-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.two{
    width: 1400px;
    height: 100vh;
    padding: 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donut{
    position: absolute;
    z-index: -1;
    transform: translateY(-50%);
    opacity: 90%;
}

#donut{
    left: -7%;
    top: 75%;
    width: 300px;
}
#donut1{
    right: -5%;
    bottom: 30%;
    width: 200px;
}
#donut2{
    left: 15%;
    top: 0;
    width: 200px;
}


.two .title-two{
    width: 100%;
    text-align:center;
    margin: 25px 0 0;
    color: #442e24;
    font-family: 'ELEPHNT', sans-serif ;
    font-weight: 100;
    letter-spacing: -1px;
    font-size: 50px;
}

.two .txt-two{
    font-size: 20px;
    width: 50%;
    letter-spacing: -1px;
    color: #442e24;
    text-align: center;
    margin-bottom: 50px;

}

.order-btn{
    display: flex;
    align-items: center;
    background: #ffdb53;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #442e24;
    box-shadow: 0px 4px 0px 0px rgba(68,46,36,1);
    transition: all .3s ease-in-out;
}

.order-btn:hover{
    box-shadow: 0 0 0 0;
    transform: translateY(2px);
}

.order-btn a{
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: 'ELEPHNT', sans-serif ;
    
}

.order-btn img{
    margin: 0 0 0 10px;
}



/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #755026;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #A37035;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #C68D6C;
  }


@media screen and (max-width: 1000px) {
    .user-auth .signup-btn{
        display: none;
    }
}

@media screen and (max-width: 750px){
    .user-auth{
        display: none;
    }

    ul {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        height: 100vh;
        overflow-y: hidden;
        width: 0vw;
        z-index: 99;
        background-color: #fff8df;
        margin-right: -20px;
        box-shadow: -100px 0px 300px 20px rgba(0, 0, 0, 0.4);
        transition: all .3s ease;
    }

    ul a{
        margin: 30px 0 0px 0;
        margin-bottom: 40px;
        font-size: 20px;
        text-align: right;
        display: block;
    }
    
    .menu{
        display: block;
    }
}