{% extends 'base.html' %}

{% block title %}
   CC: Sign up
{% endblock %}


{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">

{% endblock %}


{% block body %}
<div class="reg-cont">
   <h2 class="reg-title">Sign Up, Now!<p class="reg-txt">we are happy to have you with us.</p></h2>
   
   
   <form class="reg-form" action="" method="POST">
       {{ form.as_p }}
       {% csrf_token %}
       <input class="def-btn" type="submit" value="Sign up!">
   </form>
   <p  class="have-acc">Have an account? <a class="have-acc-link" href="#">Log in</a></p>
</div>

{% endblock %}