.log-aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 120px 0 ;
    flex-direction: column;
    border-radius: 20px;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.have-acc {
    margin: 20px 0 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #585858;
}

.have-acc > a {
    text-decoration: none;
    color:#865a44;
    font-weight: 900;
}


.line{
    display: inline-block;
    width: 30px;
}


#hline{
    color: #865a44;
    width: 100px;
    margin-top: 10px;
}

#forgot-pass {
    font-family: 'Dosis', sans-serif;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #585858;
}

