.log-aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 120px 0 ;
    flex-direction: column;
    border-radius: 20px;
}

.reg-title {
    font-family: 'Abele', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #585858;
    margin: 0px 0 2px;
    letter-spacing: -1.5px;
    font-weight: 200;
}

.login-txt {
    font-size: 15px;
    margin: 10px 0;
    letter-spacing: normal;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.have-acc {
    margin: 20px 0 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #585858;
}

.have-acc > a {
    text-decoration: none;
    color:#163536;
    font-weight: 900;
}


.line{
    display: inline-block;
    width: 30px;
}


#hline{
    color: #163536;
    width: 100px;
    margin-top: 10px;
}

#forgot-pass {
    font-family: 'Dosis', sans-serif;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #585858;
}

