
.reg-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.reg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.reg-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.have-acc {
    margin: 10px 0;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #585858;
}

.have-acc-link {
    text-decoration: none;
    color:#865a44;
    font-weight: 900;
}
